<!DOCTYPE html>
<html>
<head>
    <% include partials/student/head %>
</head>

<body class="container">
<header>
    <% include partials/student/header %>
</header>
 <% include partials/student/side %>

 <div class="col-sm-8">    
        <div class="jumbotron">
		<p><h3>Java</h3></p>
		<% cquestions.forEach(function(cquestion) { %>
		
		
		
		<ul>
		<li><%= cquestion.que %></li>
		</ul>
		
		<form name="<%= cquestion.id %>" >
		<input type="radio" name="op" value="<%= cquestion.op1 %>"> <%= cquestion.op1 %><br>
		<input type="radio" name="op" value="<%= cquestion.op2 %>"> <%= cquestion.op2 %><br>
		<input type="radio" name="op" value="<%= cquestion.op3 %>"> <%= cquestion.op3 %><br>
		<input type="radio" name="op" value="<%= cquestion.op4 %>"> <%= cquestion.op4 %><br><br>
		<input type="hidden" name="ans" value="<%= cquestion.ans %>">
		<input type="hidden" name="q" value="<%= cquestion.que %>">
		<p id="<%= cquestion.id %>"></p>
		
		<div class="form-group">
		
		<button type="button" onclick="yes('<%= cquestion.id %>')" class="btn btn-danger">Submit</button><br><br>
		</div>
		</form>
		
		<script>
function yes(id){
var x=document.forms[id]["op"].value;
var y=document.forms[id]["ans"].value;
if(x==y)
document.getElementById(id).innerHTML ="Correct Answer";
else
document.getElementById(id).innerHTML ="Incorrect";
}
</script>

		<% }); %>
		
		<a href='/end'><button type="submit">END</button></a>
		</div>
		</div>
		





<footer>
    <% include partials/student/footer %>
</footer>
</body>
</html>